<div class="comment">
  <% unless comment.archived? %>
  <div>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </div>
  <div>
    <strong>Comment:</strong>
    <%= comment.body %>
  </div>
  <div class="delete">
  <%= link_to "Delete Comment", [comment.article, comment], data: {
                method: :delete,
                confirm: "Are you sure?"
              } %>
  </div>
  <% end %>
</div>

