<div class ="header">
<div class="title">ARTycles</div>
<div>Your go-to for artsy articles!</div>
</div>

<div class="container-column">
  <div class="top">
    <div>Our blog has <%= Article.public_count %> articles and counting!</div>
    <div>Submit a new article<%= link_to " here", new_article_path %>!</div>
  </div>
  <div class="bottom">
    <% @articles.each do |article| %>
      <% unless article.archived? %>
        <div class="item">
          <%= link_to article.title, article %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="footer">
  <div>Site by Taylor Rusthoven</div>
  <div>Copyright 2022</div>
</div>